table {
  width: 300px;
  border: 5px solid green;
  padding: 50px;
  margin: 20px;
  background-color:#0d0d0d;
}
body {
	
	opacity: 0.8;
}
td{
	font-family: serif;
	font-size: 30px;
	color: white;
}
input{
	font-size: 30px;
}
button{
	padding: 10px ;
	margin: 10px;
	

}
h1{
	
	color: red;

}

a{
	color: black;
	text-decoration: none;
	
	

}